@model IEnumerable<publishing.Models.Material>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список материалов</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Добавить материал</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(m=> m.Type)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                   @if (User.IsInRole("admin")) 
                   { 
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <span>| </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        <span>| </span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>  
            </td>
        </tr>
}
    </tbody>
</table>
