@model IEnumerable<publishing.Models.Booking>

@{
    ViewData["Title"] = "Список заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список заказов</h1>

 <p>
   <a asp-controller="ManagerBooking" asp-action="Index">Управление заказами</a>
    @if (Model.Where(m => m.Status == "Выполнен").Count() > 0)
    {
        <span>| </span>
        <a asp-controller="Bookings" asp-action="GetReportAboutCompletedBookings">Отчёт о выполненных заказах</a>
        <span>| </span>
        <a asp-controller="Bookings" asp-action="GetReportAboutCostCompletedBookings">Отчёт о доходах</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrintingHouse.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(m=>m.Id)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrintingHouse.Name)
            </td>
            <td>
                    @if (item.Status == "Выполняется")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <span>| </span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>


