@model IEnumerable<publishing.Models.Booking>

@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список заказов</h1>

<p>
    <a asp-action="Create">Добавить заказ</a>
</p>
@{
    if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(m => m.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            <a asp-controller="Bookings" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |                          
                            <a asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                            <a asp-controller="Bookings" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

