@model IEnumerable<publishing.Models.Booking>

@{
    ViewData["Title"] = "Список заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список заказов</h1>

<div style="display:inline"></div>
<p>
    <a asp-action="TransitionToSelectProducts" asp-route-bookingId="-1">Создать заказ</a>
    @if (Model.Where(m=>m.Status == "Выполнен").Count() > 0)
    {
        <span>| </span>
        <a asp-controller="Bookings" asp-action="GetReportAboutCompletedBookings">Отчёт о выполненных заказах</a>
        <span>| </span>
        <a asp-controller="Bookings" asp-action="GetReportAboutCostCompletedBookings">Отчёт о расходах</a>
    }
</p>
@{
    if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(m => m.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @if (item.Status == "Ожидание")
                            {
                                <a asp-controller="Customers" asp-action="TransitionToSelectProducts" asp-route-bookingId="@item.Id">Изменить</a>
                                <span>| </span>
                                <a asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.Id">Удалить</a> 
                                <span>| </span>
                            }
                            <a asp-controller="Bookings" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

